<div class="contact-section">
    <div class="overlay"></div>
    <!-- container -->
    <div class="container">
        <div class="col-md-10 col-lg-8 m-auto">
        </div>


        <!-- footer -->
        <footer class="footer">
            <p class="infos">&copy; DynamicCraft
                <script>
                    document.write(new Date().getFullYear())
                </script>, Made With ❤ by <a href="https://www.facebook.com/dynamic.craft.bd">Team DynamicCraft</a> <br><b>We are not affiliated with Mojang or Minecraft</b>
            </p>
            <span>|</span>
            <div class="links">
                <a href="/privacy.html">Privacy Policy</a>
                <a href="https://discord.gg/yJReJexBjU">Get MC server related services</a>
            </div>
        </footer>
        <!-- end of footer -->

    </div>
    <!-- end of container -->
</div>