<!-- page navbar -->
<nav class="page-navbar" data-spy="affix" data-offset-top="10">
    <ul class="nav-navbar container">
        <li class="nav-item"><a href="/" class="nav-link"> <i class="ti-home"></i> Home</a></li>
        <li class="nav-item"><a href="/vote.html" class="nav-link"><i class="ti-heart"></i> Vote</a></li>
        <li class="nav-item">
            <a href="#" class="nav-link"><img src="/assets/imgs/dynamiccraft-logo.png" alt="DynamicCraft Logo"></a>
        </li>
        <li class="nav-item"><a href="/rank.html" class="nav-link"> <i class="ti-bolt"></i> Rank</a></li>
        <li class="nav-item"><a href="/maps/" class="nav-link"><i class="ti-map"></i> Maps</a></li>
    </ul>
</nav>
<!-- end of page navbar -->